body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background: #f2f6f8;

}

.visually-hidden {
  display: none;
}

a {
  text-decoration: none;
}

.main-header-logo {
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #ee3643;
  border-bottom: 3px solid #b52933;
}


.main-navigation {
  font-size: 17px;
  line-height: 17px;
  font-weight: 400;
  color: #ffffff;

  background-color: #32425c;
}

.user-navigation {
  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: #32425c;
}

.order {
  color: #ffffff;
  background-color: #63a63e;
}

.order:hover,
.order:focus {
  background-color: #5fbb2d;
}

.order:active {
  color: #a8c29a;
  background-color: #518534;
}

.bookmark,
.basket,
.found {
  color: #ffffff;
}

.bookmark:hover,
.bookmark:focus,
.basket:hover,
.basket:focus {
  background-color: #212a3a;
  color: #8b8e94;
}

.bookmark:active,
.basket:active {
  background-color: #161d29;
}

.found {
  background-color: #293449;
  color: #000000;
  border: none;
}

.found:hover {
  background-color: #212a3a;
}

.found:focus {
  background-color: #ffffff;
  color: #000000;
}

.site-navigation a {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #293449;
}

.site-navigation a:active {
  color: #a8abaf;
  background-color: #1d2739;
}

.user-navigation,
.site-navigation  {
  list-style: none;
}

.site-navigation a:active {
  background-color: #161d29;
}

.main-services h2 {
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
}

.services h3 {
  color: #32425c;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
}

.services p {
  color: #000000;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.main-contacts h1 {
  color: #ee3643;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  font-family: "Cuprum", Arial, sans-serif;
}

.main-phone {
  color: #e9292a;
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  font-family: "Cuprum", Arial, sans-serif;
}

.main-adress {
  color: #32425c;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
}

.login {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  font-family: "Cuprum", Arial, sans-serif;
}

.registration {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  font-family: "Cuprum", Arial, sans-serif;
}

.login:hover,
.registration:hover {
  color: #ee3643;
}

.login:active,
.registration:active {
  color: #c5c5c5;
}

.main-about h2 {
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
}

.main-about p {
  color: #000000;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.delivery-service-list {
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;

  list-style:none;
  margin-left: 0px;
}

.button-about {
  display: inline-block;
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
  text-align: center;
  vertical-align: middle;

  border: 0px;
  height: 38px;
  width: 220px;
  border-radius: 4px;
  }

.down-contacts h2 {
  color: #000000;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
}

.down-contacts p {
  color: #000000;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.button-contacts a {
  margin: 300px;
  padding: 38px;
  display: inline-block;
  background-color: #ee3643;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
}


/*-- Оформление подвала */

.main-footer {
  background-color: #32425c;
}

.footer-navigation-one ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
}

.footer-navigation-one a {
  text-decoration: none;
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  display: block;
  margin: 60px;
}

.footer-navigation-one a:hover {
  text-decoration: underline;
}

.footer-navigation-one a:active {
  text-decoration: none;
  color: #929caa;
}

.footer-navigation-two ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
  display: flex;
}

.footer-navigation-two a {
  text-decoration: none;
  color: #ffd180;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
  display: block;
  margin: 60px;
}

.footer-navigation-two a:hover {
  text-decoration: underline;
}

.footer-navigation-two a:active {
  text-decoration: none;
  color: #998a6e;
}

.footer-navigation-two p {
  color: #f1f5f7;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
}

.footer-social-navigation {
  background-color: #293449;
}

.footer-social-navigation p {
  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
}

.footer-social-navigation a {
  color: #ffd180;
}

.footer-social-navigation a:hover {
  text-decoration: underline;
}

.footer-social-navigation a:active {
  color: #ee3643;
  text-decoration: none;
}




/* Оформление страницы каталога */

.page-title {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", Arial, sans-serif;
  text-transform: uppercase;
}

.breadcrumps a {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
}

.breadcrumps li {
  list-style: none;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-style: bold;
  font-family: "PT Sans", Arial, sans-serif;
}

.filter ul {
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
}

.filter-input {
  color: #000000;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:disabled + label {
  color: #000000;

  opacity: 0.5;
}


.profile-enter {
  color: #000000;
  font-size: 21px;
  line-height: 21px;
  font-family: "Cuprum", Arial, sans-serif;
}

.profile-enter:hover {

}

.profile-enter:active {
  color: #c5c5c5;
}

.my-order,
.account {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  text-decoration: underline;
}

.my-order:hover,
.my-order:focus,
.account:hover,
.account:focus {
  color: #ee3643;
}

.my-order:active,
.account:active {
  color: #c5c5c5;
}



.catalog-list {
  list-style: none;
}

.catalog-item {
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.catalog-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.buy {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #63a63e;

  border-bottom: 3px solid #367315;
  border-radius: 4px;
}

.buy:hover,
.buy:focus {
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #518534;
}


.bookmarks {
  color: #32425c;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  font-family: "Cuprum", Arial, sans-serif;

  border: 3px solid #63a63e;
  border-radius: 4px;
}

.bookmarks:hover,
.bookmarks:focus {
  border: 3px solid #32425c;
  border-radius: 4px;
}

.bookmarks:active {
  color: #c1c6ce;
  border: 3px solid #c1c6ce;
  border-radius: 4px;
}


/* Подборки вокруг слайдера + слайдер */
.offers-material {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-style: bold;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #ffbf47;
}

.offers-tool {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-style: bold;
  font-family: "Cuprum", Arial, sans-serif;

  background-color: #3bbce3;
}

.offers-equipment {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-style: bold;
  font-family: "Cuprum", Arial, sans-serif;

  background-color: #dc91d8;
}

.offers-sale  {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-style: bold;
  font-family: "Cuprum", Arial, sans-serif;

  background-color: #8ed78f;
}

.offers-delivery {
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
  font-style: bold;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #ffc047;
}

.btn-offers {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #e5e5e5;
  opacity: 0.8;

}

.btn-offers:hover,
.btn-offers:focus {
  background-color: #cccccc;
  opacity: 0.8;
}

.btn-offers:active {
  background-color: #b2b2b2;
  opacity: 0.8;
}


.slider-drills {
  background-color: #4e3732;
  background-image: url("img/slider-drills.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.slider-perforators {
  background-color: #5c4f0d;
  background-image: url("img/slider-perforators.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.slider-drills h2 {
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-style: bold;
  font-family: "Cuprum", Arial, sans-serif;
}

.slider-drills p {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
}

.slider-perforators h2 {
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  font-style: bold;
  font-family: "Cuprum", Arial, sans-serif;
}

.slider-perforators p {
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-family: "Cuprum", Arial, sans-serif;
}

.button {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", Arial, sans-serif;
  background-color: #ee3643;
  width: 195px;
  height: 38px;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}


/* --------------------------------------- */


/* Сервисы */

.main-services p {
  color: #000000;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.services-delivery p {
  color: #000000;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

.sservices-credit p {
  color: #000000;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial, sans-serif;
}

/* ---------------------------------------- */

.catalog-item h3 {
  color: #000000;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  font-style: bold;
  font-family: "PT Sans", Arial, sans-serif;
}

.price {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  font-style: bold;
  font-family: "PT Sans", Arial, sans-serif;
  background-color: #ee3643;
}

.last-price {
  font-size: 17px;
  line-height: 18px;
  color: #999999;
  text-align: center;
  font-style: bold;
  font-family: "PT Sans", Arial, sans-serif;
}

.main-footer-logo {
  display: inline-block;
  color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
  font-family: "Cuprum", Arial, sans-serif;
  text-align: center;
  vertical-align: middle;

  border: 0px;
  height: 63px;
  width: 220px;
  border-radius: 4px;
}






/* Нумерация страниц снизу */
.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  font-family: "PT Sans", Arial, sans-serif;
  width: 50px;
  height: 50px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: 1px solid #bdc6ca;
}

.pagination-item a:active {
  border: 1px solid #ee3643;
}

.pagination-item-current a {
  color: #ffffff;

  background-color: #ee3643;
}
/* -------------------------------- */
